<div class="bot-control">
    <h2>Bot Control</h2>
    <table>
        <thead>
            <tr>
                <th>Name of Bot</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bot TikTok</td>
                <td>20/12/2022</td>
                <td class="enable success">Enable</td>
                <td class="disable primary">Details</td>
            </tr>
            <tr>
                <td>Bot Youtube</td>
                <td>20/12/2022</td>
                <td class="enable success">Enable</td>
                <td class="disable primary">Details</td>
            </tr>
            <tr>
                <td>Bot Facebook</td>
                <td>20/12/2022</td>
                <td class="enable success">Enable</td>
                <td class="disable primary">Details</td>
            </tr>
            <tr>
                <td>Bot Twitter</td>
                <td>20/12/2022</td>
                <td class="enable warning">Disable</td>
                <td class="disable primary">Details</td>
            </tr>
            <tr>
                <td>Bot Instagram</td>
                <td>20/12/2022</td>
                <td class="enable warning">Disable</td>
                <td class="disable primary">Details</td>
            </tr>
        </tbody>
    </table>
    <a href="#">Show All</a>
</div>