<div class="toltal-chart">
    <h2>Chart 24h for Access - Posts - Users</h2>
    <div class="chart" style="height: 300px;">
        <canvas id="ctx" width="200" height="68"></canvas>
    </div>
</div>

<div class="chart-months">
    <div class="toltal-access-users">
        <div class="chart-access">
            <h2>Chart 30days for Access</h2>
            <div class="chart" style="height: 230px;">
                <canvas id="chart-access-30days" width="200" height="200"></canvas>
            </div>
        </div>
    
        <div class="chart-users">
            <h2>Chart 30days for Users</h2>
            <div class="chart" style="height: 230px;">
                <canvas id="chart-users-30days" width="200" height="200"></canvas>
            </div>
        </div>
    </div>

    <div class="toltal-posts">
        <div class="chart-posts-bot">
            <h2>Chart 30days for Posts(bot)</h2>
            <div class="chart" style="height: 230px;">
                <canvas id="chart-posts-bot-30days"></canvas>
            </div>
        </div>
        <div class="chart-posts-users">
            <h2>Chart 30days for Posts(users)</h2>
            <div class="chart" style="height: 230px;">
                <canvas id="chart-posts-users-30days" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
</div>