<div class="insights">
    <div class="access modal-link-access">
        <span class="material-symbols-outlined">
            directions_run
        </span>
        <div class="middle">
            <div class="left">
                <h3>Total Access</h3>
                <h1 class="access_total"></h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                    <p>80%</p>
                </div>
            </div>
        </div>
        <small class="text-muted">Last 24 hours</small>
    </div>

    <div class="posts modal-link-posts">
        <span class="material-symbols-outlined">
            checklist
        </span>
        <div class="middle">
            <div class="left">
                <h3>Total Posts</h3>
                <h1 class="posts_total"></h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                    <p>50%</p>
                </div>
            </div>
        </div>
        <small class="text-muted">Last 24 hours</small>
    </div>

    <div class="users modal-link-users">
        <span class="material-symbols-outlined">
            person
        </span>
        <div class="middle">
            <div class="left">
                <h3>Total Users</h3>
                <h1 class="users_total"></h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                    <p>20%</p>
                </div>
            </div>
        </div>
        <small class="text-muted">Last 24 hours</small>
    </div>

</div>