<div class="table-user">
    <table>
        <thead>
            <tr>
                <th> # </th>
                <th> ID </th>
                <th> User Name </th>
                <th> Name </th>
                <th> Email </th>
                <th> Create Date </th>
                <th> Role </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>Hưng</td>
                <td>Hung</td>
                <td>hung@gmail</td>
                <td>17:05:39 04/05/2022</td>
                <td>Admin</td>
                <td>
                    <span class="material-symbols-outlined" onclick="openBoxedit()">
                        edit
                        </span>
                </td>
            </tr>
            <tr>
                <td><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>2</td>
                <td>Hưng</td>
                <td>Hung</td>
                <td><p>hung16253dsadsadsad3@gmail</p></td>
                <td>17:05:39 04/05/2022</td>
                <td>Admin</td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>3</td>
                <td>Hưng</td>
                <td>Hung</td>
                <td>hung@gmail</td>
                <td>17:05:39 04/05/2022</td>
                <td>Admin</td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>4</td>
                <td>Hưng</td>
                <td>Hung</td>
                <td>hung@gmail</td>
                <td>17:05:39 04/05/2022</td>
                <td>Admin</td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true" id="edit-user"></i>
                </td>
            </tr>
            <tr>
                <td><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>5</td>
                <td>Hưng</td>
                <td>Hung</td>
                <td>hung@gmail</td>
                <td>17:05:39 04/05/2022</td>
                <td>Admin</td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>6</td>
                <td>Hưng</td>
                <td>Hung</td>
                <td>hung@gmail</td>
                <td>17:05:39 04/05/2022</td>
                <td>Admin</td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>7</td>
                <td>Hưng</td>
                <td>Hung</td>
                <td>hung@gmail</td>
                <td>17:05:39 04/05/2022</td>
                <td>Admin</td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>8</td>
                <td>Hưng</td>
                <td>Hung</td>
                <td>hung@gmail</td>
                <td>17:05:39 04/05/2022</td>
                <td>Admin</td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>9</td>
                <td>Hưng</td>
                <td>Hung</td>
                <td>hung@gmail</td>
                <td>17:05:39 04/05/2022</td>
                <td>Admin</td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>10</td>
                <td>Hưng</td>
                <td>Hung</td>
                <td>hung@gmail</td>
                <td>17:05:39 04/05/2022</td>
                <td>Admin</td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>