<div class="box-control">
    <table>
        <thead>
            <tr>
                <th> # </th>
                <th> ID </th>
                <th> Loại Bot </th>
                <th> Tên Bot </th>
                <th> Số lượng cào </th>
                <th> Status </th>
                <th> Range </th>
                <th> On/Off </th>
                <th> Action </th>
                <th> Restart </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>FaceBook</td>
                <td>Hung</td>
                <td>3000</td>
                <td>Active</td>
                <td>04/05/2022 - 09/05/2022</td>
                <td><span class="material-symbols-outlined">
                    toggle_on
                    </span></td>
                <td>
                    <span class="material-symbols-outlined action-control" onclick="openBoxEdit()">
                        edit
                        </span>
                </td>
                <td><span class="material-symbols-outlined">
                    refresh
                    </span></td>
            </tr>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>FaceBook</td>
                <td>Hung</td>
                <td>3000</td>
                <td>Active</td>
                <td>04/05/2022 - 09/05/2022</td>
                <td><span class="material-symbols-outlined">
                    toggle_on
                    </span></td>
                <td>
                    <span class="material-symbols-outlined action-control" onclick="openBoxEdit()">
                        edit
                        </span>
                </td>
                <td><span class="material-symbols-outlined">
                    refresh
                    </span></td>
            </tr>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>FaceBook</td>
                <td>Hung</td>
                <td>3000</td>
                <td>Active</td>
                <td>04/05/2022 - 09/05/2022</td>
                <td><span class="material-symbols-outlined">
                    toggle_on
                    </span></td>
                <td>
                    <span class="material-symbols-outlined action-control" onclick="openBoxEdit()">
                        edit
                        </span>
                </td>
                <td><span class="material-symbols-outlined">
                    refresh
                    </span></td>
            </tr>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>FaceBook</td>
                <td>Hung</td>
                <td>3000</td>
                <td>Active</td>
                <td>04/05/2022 - 09/05/2022</td>
                <td><span class="material-symbols-outlined">
                    toggle_on
                    </span></td>
                <td>
                    <span class="material-symbols-outlined action-control" onclick="openBoxEdit()">
                        edit
                        </span>
                </td>
                <td><span class="material-symbols-outlined">
                    refresh
                    </span></td>
            </tr>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>FaceBook</td>
                <td>Hung</td>
                <td>3000</td>
                <td>Active</td>
                <td>04/05/2022 - 09/05/2022</td>
                <td><span class="material-symbols-outlined">
                    toggle_on
                    </span></td>
                <td>
                    <span class="material-symbols-outlined action-control" onclick="openBoxEdit()">
                        edit
                        </span>
                </td>
                <td><span class="material-symbols-outlined">
                    refresh
                    </span></td>
            </tr>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>FaceBook</td>
                <td>Hung</td>
                <td>3000</td>
                <td>Active</td>
                <td>04/05/2022 - 09/05/2022</td>
                <td><span class="material-symbols-outlined">
                    toggle_on
                    </span></td>
                <td>
                    <span class="material-symbols-outlined action-control" onclick="openBoxEdit()">
                        edit
                        </span>
                </td>
                <td><span class="material-symbols-outlined">
                    refresh
                    </span></td>
            </tr>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>FaceBook</td>
                <td>Hung</td>
                <td>3000</td>
                <td>Active</td>
                <td>04/05/2022 - 09/05/2022</td>
                <td><span class="material-symbols-outlined">
                    toggle_on
                    </span></td>
                <td>
                    <span class="material-symbols-outlined action-control" onclick="openBoxEdit()">
                        edit
                        </span>
                </td>
                <td><span class="material-symbols-outlined">
                    refresh
                    </span></td>
            </tr>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>FaceBook</td>
                <td>Hung</td>
                <td>3000</td>
                <td>Active</td>
                <td>04/05/2022 - 09/05/2022</td>
                <td><span class="material-symbols-outlined">
                    toggle_on
                    </span></td>
                <td>
                    <span class="material-symbols-outlined action-control" onclick="openBoxEdit()">
                        edit
                        </span>
                </td>
                <td><span class="material-symbols-outlined">
                    refresh
                    </span></td>
            </tr>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>FaceBook</td>
                <td>Hung</td>
                <td>3000</td>
                <td>Active</td>
                <td>04/05/2022 - 09/05/2022</td>
                <td><span class="material-symbols-outlined">
                    toggle_on
                    </span></td>
                <td>
                    <span class="material-symbols-outlined action-control" onclick="openBoxEdit()">
                        edit
                        </span>
                </td>
                <td><span class="material-symbols-outlined">
                    refresh
                    </span></td>
            </tr>
            <tr>
                
                <td></td>
                <td>1</td>
                <td>FaceBook</td>
                <td>Hung</td>
                <td>3000</td>
                <td>Active</td>
                <td>04/05/2022 - 09/05/2022</td>
                <td><span class="material-symbols-outlined">
                    toggle_on
                    </span></td>
                <td>
                    <span class="material-symbols-outlined action-control" onclick="openBoxEdit()">
                        edit
                        </span>
                </td>
                <td><span class="material-symbols-outlined">
                    refresh
                    </span></td>
            </tr>
        </tbody>
    </table>
</div>