<div class="modal-save-bot-edit" style="display: none;">
    <div class="modal">
        <div class="centered">
            <div class="content">
             <h2>Are you sure want to save?</h2>
            </div>
                <form action="">
                    <div class="submit-cancel">
                        <button class="cancel-i">Cancel</button>
                        <button class="submit-i">Submit</button>
                    </div>
                </form>
        </div>
    </div>
</div>