<div class="package">
    <div class="count">
        <div class="first-chart">
            <h2>Package count <br> per licens type</h2>
            <canvas id="myChart" width="280px"></canvas>
        </div>
        <div class="second-chart">
            <h2>Package count <br> per licens type</h2>
            <canvas id="myChart2" width="280px"></canvas>
        </div>
    </div>
    <div class="boxes">
        <div class="box-1">
            <span class="material-symbols-outlined">
                widgets
            </span>
            <div>
                <h3>27</h3>
                <p>Applications</p>
            </div>
        </div>
        <div class="box-2">
            <span class="material-symbols-outlined">
                share
            </span>
            <div>
                <h3>27</h3>
                <p>Applications</p>
            </div>
        </div>
        <div class="box-3">
            <span class="material-symbols-outlined">
                inventory_2
            </span>
            <div>
                <h3>27</h3>
                <p>Applications</p>
            </div>
        </div>
    </div>
</div>