<div class="modal-add-user" style="display: none;">
    <div class="modal">
        <div class="centered">
            <div class="content">
            <h2>New User</h2>
            <span class="material-symbols-outlined closing">
                close
            </span>
            </div>
                <form action="">
                    <div>
                        <div class="username">
                            <label>Username:</label>
                            <input class="i-username" type="text" name="username" placeholder="Enter username" required>
                        </div>
                        <div class="name">
                            <label>Name:</label>
                            <input class="i-name" type="text" name="name" placeholder="Enter name" required>
                        </div>
                        <div class="email">
                            <label>Username:</label>
                            <input class="i-email" type="text" name="email" placeholder="Enter email" required>
                        </div>
                        <div class="password">
                            <label>Password:</label>
                            <input class="i-password" type="password" name="password" placeholder="Enter password" required>
                        </div>
                        <div class="role">
                            <label>Role:</label>
                            <div>
                                <select>
                                    <option value="admin">Admin</option>
                                    <option value="member">Member</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    expand_more
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="submit-cancel">
                        <button class="cancel-i">Cancel</button>
                        <button class="submit-i">Submit</button>
                    </div>
                </form>
        </div>
    </div>
</div>